.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  height: 10%;
}

.App-link {
  color: #61dafb;
}

.App-player {
  height: 40%;
  padding-top: 15%;
}

.App-body {
  height: 80%;
}

.game-links {
  height: 40%;
}

.new-game {
  padding: 40%;
  color: gray;
}

a {
  text-decoration: underline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
