.Player {
  border-style: dashed;
  transform: rotate(25deg);
  font-size: 18px;
  min-width: 66px;
  border-color: darkgray;
}

.Player-current {
  border-color: white;
}

.Player-winner {
  background-color: #ffc900;
  border-style: hidden;
}

.Player-container {
  display: flex;
  height: 10%;
  justify-content: center;
}

.Player-score-updated {
  animation-name: score-transition;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@keyframes score-transition {
  0%   {
    transform: translateY(0);
    transform: rotate(25deg);
    border-color: yellow;
  }
  50%  { transform: translateY(-50px); }
  100% {
    transform: translateY(0);
    transform: rotate(25deg);
    border-color: darkgray;
  }
}