.Player {
  border-style: dashed;
  transform: rotate(30deg);
  font-size: 18px;
  min-width: 66px;
  border-color: darkgray;
}

.Player-current {
  border-color: white;
}

.Player-container {
  display: flex;
  height: 10%;
  justify-content: center;
}