.Player {
  border-style: dashed;
  transform: rotate(25deg);
  font-size: 18px;
  min-width: 66px;
  border-color: darkgray;
  height: 65px;
}

.Player-current {
  border-color: white;
}

.Player-winner {
  background-color: #ffc900;
  border-style: hidden;
}

.Player-container {
  display: flex;
  height: 10%;
  justify-content: center;
}

.Player-score-updated {
  animation-name: score-transition;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@keyframes score-transition {
  0%   {
    transform: scale(1,1) translateY(0) rotate(25deg);
    border-color: yellow;
  }
  10%  { transform: scale(1.1,.9)   translateY(0) rotate(25deg); }
  30%  { transform: scale(.9,1.1)   translateY(-50px)  rotate(25deg); }
  50%  { transform: scale(1.05,.95) translateY(0) rotate(25deg); }
  57%  { transform: scale(1,1)      translateY(-10px)  rotate(25deg); }
  64%  { transform: scale(1,1)      translateY(0)  rotate(25deg); }
  100% {
    transform: translateY(0) scale(1,1)  rotate(25deg);
    border-color: darkgray;
  }
}
